<%- include('./partials/head.ejs')%>

    <div class="text-center center-div mt-5 ">
        <div class="container w-25 border py-5 mt5 formulario">
            <h3>Seja bem vindo!</h3>

        </div>
    </div>
    <%- include('./partials/footer.ejs')%>