<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <%- include('./partials/head.ejs')%>
    <link rel="stylesheet" href="../css/home.css">
    <script src="https://kit.fontawesome.com/c9e4967131.js" crossorigin="anonymous"></script>

    <title>HOME</title>
</head>
<body>
    <%- include('./partials/header.ejs')%>

    <main>

        <div class="container">
            <section class="section-intro">
                <div class="section-intro-cont">
                    <h2 class="section-intro-h2">Faça o seu orçamento conosco RÁPIDO FACIL E PRÁTICO!</h2>
                    <p class="section-intro-p">Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime, animi! Doloribus, voluptates quos?</p>
                </div>
                <img class="section-intro-img" src="../img/porquinNew.png"  alt="">
            </section>
        </div>


        <div class="container">
            <section class="section-cards-global">
                <header class="section-cards-header">
                    <h2 class="section-cards-global-titulo-h2">Nossos serviços</h2>
                    <h3 class="section-cards-global-titulo-h3"><q>Mude, faça, contróle. É simples!</h3>
                </header>
                <div class="section-cards-itens">
                    <a href="#" class="section-cards-global-card">
                        <h3 class="section-cards-global-h3 ">Ideia</h3>
                        <p class="section-cards-global-p">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ratione non alias quae delectus, accusamus distinctio placeat adipisci quaerat officiis illum laboriosam id, perferendis conseias.</p>
                    </a>
                    <a href="#" class="section-cards-global-card">
                        <h3 class="section-cards-global-h3 ">Vida sossegada</h3>
                        <p class="section-cards-global-p ">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ratione non alias quae delectus, accusamus distinctio placeat adipisci quaerat officiis illum laboriosam id, perferendis conseias.</p>
                    </a>
                    <a href="#" class="section-cards-global-card">
                        <h3 class="section-cards-global-h3">Support</h3>
                        <p class="section-cards-global-p ">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ratione non alias quae delectus, accusamus distinctio placeat adipisci quaerat officiis illum laboriosam id, perferendis conseias.</p>
                    </a>
                </div>
                <button class="cards-btn">SAIBA MAIS</button>
            </section>
        </div>

        <section class="section-explicativa container">
            <div class="section-explicativa-container-texts">
                <div class="section-explicativa-intro">
                    <h2>Como ajudamos nossos clientes?</h2>
                    <P>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Natus nemo illo esse temporibus beatae harum consectetur </P>
                </div>
                <div class="section-explicativa-cards">
                    <div class="section-explicativa-cards-item">
                        <h3 class="section-explicativa-cards-item-h3">SEI LA</h3>
                            <p class="section-explicativa-cards-item-p">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ratione non alias quae delectus, accusamus distinctio placeat adipisci quaerat officiis illum laboriosam id, perferendis conseias.</p>
                    </div>
                    <div class="section-explicativa-cards-item">
                        <h3 class="section-explicativa-cards-item-h3">SEI LA</h3>
                            <p class="section-explicativa-cards-item-p">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ratione non alias quae delectus, accusamus distinctio placeat adipisci quaerat officiis illum laboriosam id, perferendis conseias.</p>
                    </div>
                </div>
            </div>

        </section>

        <div class="container">
            <section class="teste">
                <h2>NCJWN</h2>
                <P>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Natus nemo illo esse temporibus beatae harum consectetur dignissimos cupiditate nihil eos magnam dicta, perferendis culpa quidem dolorem sapiente tempore veritatis labore?</P>
            </section>
        </div>
    </main>

    <%- include('./partials/footer.ejs')%>
    
</body>
</html>